@import 'utils';

.pin-card-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 5rem;
    margin-left: -1.575rem;
    margin-right: -1.575rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}