@import 'utils';

.group-page-info {
    width: calc(100% / 1.04);
    height: 320px;
    margin: 20px auto 0;
    padding-left: 5px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    .group-page1 {
        width: 200px;
        height: 100%;
        padding: 40px 23px 0 18px;
        position: absolute;
        top: 0;
        left: 5px;
        border-right: 1px solid $oc-gray-1;
        .page1 {
            text-decoration: none;
            display: block;
            height: 240px;
            .group-title {
                display: block;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: -.025em;
                text-align: center;
            }
            .group-cover {
                display: block;
                width: 90px;
                height: 90px;
                margin-top: 0.75rem;
                border-radius: 4px;
                overflow: hidden;
                margin-left: 2.2rem;
                background: #FFF;
                img {
                    width: 100%;
                    display: block;
                    border-radius: 4px;
                    vertical-align: middle;
                    border-style: none;
                }
            }
            .group-member {
                display: block;
                padding-top: 11px;
                line-height: 20px;
                color: #00c3bd;
                text-align: center;
                .member-count {
                    padding-left: 5px;
                    white-space: nowrap;
                    line-height: 20px;
                    color: #00c3bd;
                    text-align: center;
                    font-size: 0.75rem;
                }

                .leader {
                    padding-left: 5px;
                    white-space: nowrap;
                    line-height: 20px;
                    color: #00c3bd;
                    text-align: center;
                    font-size: 0.75rem;
                }
                span+span::before {
                    color: $oc-gray-5;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    content: "\00B7";
                }
            }
            .group-sign {
                display: flex;
                flex-direction: column;
                margin-top: 1.25rem;
            }
        }
    }

    .group-contents {
        position: absolute;
        top: 0;
        left: 200px;
        width: 523px;
        height: 100%;
        padding: 40px 30px 0;
        .contents {
            line-height: 20px;
            max-height: 120px;
            overflow: hidden;
            color: #959595;
            letter-spacing: -.025em;
            text-align: justify;
        }
    }
}