@import 'utils';

.search-menu-item {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  text-transform: inherit;
  position: relative;
  box-sizing: border-box;
  min-width: 160px;
  min-height: 48px;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;

  @include media("<=470px") {
    min-width: 120px;
  }

  &:hover {
    border-bottom: 2px solid $oc-red-4; 
    color: $oc-red-5;
    .text {
      font-weight: 500;
    }
  }


  &.active {
    border-bottom: 2px solid $oc-red-4; 
    color: $oc-red-5;
    .text {
      font-weight: 500;
    }
  }

  .text {
    padding-top: 0.75rem;
  }
}