@import 'utils';

.notice-item {
  display: flex;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
  cursor: pointer;
  &:hover {
    background: $oc-gray-0;
  }
  align-items: center;
  .wrapper {
    color: #1d2129;
    display: block;
    padding: 6px 30px 5px 12px;
    position: relative;
    padding-right: 30px;
    .left {
      float: left;
      img {
        border-radius: 50%;
        overflow: hidden;
        display: block;
        height: 32px;
        // margin-right: 12px;
        width: 32px;
        border: 0
      }
    }
    .right {
      float: right;
      margin-top: 0.35rem;
      margin-left: 0.25rem;
      font-size: 0.75rem;
    }
  }
}