@import 'utils';

.group-header-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 2rem;
    width: 100%;
    background: white;
}