@import 'utils';

.user-list {
    border-bottom: 1px solid #efefef;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    .list-wrapper {
        position: relative;
        .wrapper {
            flex-direction: row;
            justify-content: space-between;
            .user-info {
                display: flex;
                flex: 1 1 100px;
                overflow: hidden;
                align-items: center;
                flex-direction: row;
                .thumbnail-wrapper {
                    width: 56px;
                    height: 56px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-right: 13px;
                    background-color: #fafafa;
                    border-radius: 50%;
                    display: block;
                    flex: 0 0 auto;
                    overflow: hidden;
                    position: relative;
                    .thumbnail {
                        height: 100%;
                        width: 100%;
                    }
                }

                .username-wrapper {
                    min-width: 70px;
                    flex: 1 1 70px;
                    flex-direction: column;
                    justify-content: center;
                    .displayName-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        .displayName {
                            font-weight: 500;
                            color: black;
                            font-size: 14px;
                            line-height: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-left: 5px;
                            margin-left: -5px;
                        }
                    }
                    .username {
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 18px;
                        color: #999;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .button-wrapper {
                    flex: 0 0 auto;
                    justify-content: center;
                    margin-left: 15px;
                    .button {
                        background-color: #3897f0;
                        border-radius: 4px;
                        color: #fff;
                        position: relative;
                        border: 0;
                        cursor: pointer;
                        display: block;
                        font-weight: 600;
                        padding: 5px 9px;
                        overflow: hidden;
                        text-transform: inherit;
                        text-overflow: ellipsis;
                        user-select: none;
                        white-space: nowrap;
                        width: auto;
                    }
                }
            }
        }
    }
}