@import 'utils';

.pin-template {
    .pin-area {
        margin: 0 auto;
        width: 768px;
        position: relative;
        @include media("<medium") {
            width: 100%;
        }
    }
}