@import 'utils';

.pin-template {
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 691;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    cursor: zoom-out;
    background-color: $oc-gray-7;
    opacity: .975;
    overflow-y: scroll;
}