@import 'utils';

.write-form {
    position: relative;
    z-index: 900;
    width: 750px;
    height: 750px;
    top: 3rem;
    padding: 27px 0;
    box-sizing: border-box;
    background: white;
    display: block;
    border-radius: 0.1rem;

    @include media("<=1442px") {
        width: 800px;
    }

    @include media("<=1345px") {
        width: 720px;
    }

    @include media("<=1200px") {
        width: 640px;
    }

    @include media("<=medium") {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    @include media("<=425px") {
        padding: 16px 0;
        height: 100%;
    }

    .form-header {
        margin-bottom: 30px;
        -webkit-box-pack: justify!important;
        -webkit-box-orient: horizontal!important;
        -webkit-box-direction: normal!important;
        display: flex!important;
        justify-content: space-between!important;
        flex-direction: row!important;
        .cancel-btn {
            cursor: pointer;
            color: #7f7f7f;
            border-radius: 1000px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            line-height: 1.5;
            display: inline-block;
            margin-left: 1rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .submit-btn {
            margin: 0 0 0 auto;
            margin-right: 1rem;
        }
    }

    .form-widget {
        max-width: 600px;
        margin-right: 24px;
        flex: 1 1 auto;
        min-width: 0;
        min-height: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }
}