@import 'utils';

.user-header {
  display: flex;
  @include media("<medium") {
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .user-info {
    margin-left: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    @include media("<medium") {
      width: 100%;
      margin-left: 0;
    }
    section {
      min-height: 5rem;
    }
    .top {
      display: flex;
      flex-direction: column;
        .subscribe-wrapper {
          @include media("<medium") {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          display: flex;
          justify-content: flex-end;
          .subscribe {
            display: block;
            font-size: 1rem;
            line-height: 1rem;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
          }

          .setting + .setting {
            margin-left: 1rem;
          }

          .setting + .subscribe {
            margin-left: 1rem;
          }
      }
      .username {
        margin-top: auto;
        font-weight: 500;
        color: $oc-red-6;
        padding-bottom: 0.5rem;
      }
    }
    .mini-profile {
      border-top: 1px solid $oc-gray-4;
      padding-top: 0.5rem;
      h2,
      p {
        margin: 0;
      }
      h2 {
        color: $oc-gray-8;
        font-size: 2.5rem;
      }
      p {
        margin-top: 0.75rem;
        color: $oc-gray-6;
        line-height: 1.5em;
        font-size: 0.875rem;
        white-space: pre-wrap;
      }
      .content-wrapper {
        display: flex;
        flex-direction: row;
        .count {
          display: block;
          padding-top: 5px;
          font-size: 13px;
        }
        p+p::before {
          color: $oc-gray-5;
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          content: "\00B7";
        }
      }
    }
  }
}