@import 'utils';

.create-box {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    .box-wrapper {
        cursor: pointer;
        border-radius: 8px;
        position: relative;
        .wrapper {
            .create-wrapper {
                width: 365px;
                height: 200px;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                border-radius: 8px;
                background-color: #efefef;
                display: flex;
                flex-direction: row;
                .create {
                    height: 40px;
                    width: 40px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    background-color: white;
                    svg {
                        height: 40px;
                        width: 40px;
                        fill: currentColor;
                        color: $oc-red-7;
                        vertical-align: middle;
                        stroke-width: 0;
                    }
                }
            }
            .title-wrapper {
                padding-bottom: 12px;
                padding-top: 12px;
                padding-left: 8px;
                padding-right: 8px;
                box-sizing: border-box;
                .title {
                    text-align: left;
                    color: #8e8e8e;
                    font-size: 18px;
                    word-wrap: break-word;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.4px;
                }
            }
        }
        .whit-mask {
            box-sizing: content-box;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            border-radius: 8px;
            background: rgba(0,0,0,.064);
            height: 100%;
            opacity: 0;
            pointer-events: none;
            width: 100%;
        }

        &:hover {
            .whit-mask {
                opacity: 1;
            }
        }
    }
}