@import 'utils';

.pin-header {
    margin-top: 4rem;
    display: block;
    margin-bottom: 15px;
    margin-left: 58px;

    @include media("<medium") {
        margin-top: 0;
    }
    .premalink-header {
        display: flex;
        height: 48px;
        align-items: center;
        .user-group {
            flex: 1;
            .profile-thumbnail {
                margin-top: 0;
                float: left;
                margin-left: -58px;
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            .displayName-group {
                display: flex;
                color: #14171a;
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                max-width: 32ch;
                .displayName {
                    font-size: 18px;
                    font-weight: bold;
                    word-break: break-all;
                    color: #14171a;
                    max-width: 100%;
                    overflow: hidden !important;
                    text-overflow: ellipsis!important;
                    white-space: nowrap!important;
                    word-wrap: normal!important;
                }
            }

            .username {
                font-size: 14px;
                color: #657786;
                max-width: 100%;
                direction: ltr!important;
                text-align: left!important;
                unicode-bidi: embed;
                overflow: hidden!important;
                text-overflow: ellipsis!important;
                white-space: nowrap!important;
                word-wrap: normal!important;
            }
        }

        .follow-bar {
            display: flex;
            align-items: center;
            position: relative;
        }

        .action-menu {
            margin: -2px -9px 0 auto;
            min-width: inherit;
            display: inline-block;
            .dropdown {
                position: relative;
                .action-button {
                    margin-left: 9px;
                    padding: 2px 9px;
                    color: #657786;
                    display: inline-block;
                    font-size: 16px;
                    line-height: 1;
                    position: relative;
                    border: 0;
                    background: transparent;
                    transition: box-shadow .15 ease-in-out;
                    svg {
                        font-size: 1.2rem;
                    }
                    &:hover {
                        color: $oc-blue-5;
                    }
                }
            }
        }
    }
    .line {
        margin-top: 1rem;
        border-bottom: 1px solid $oc-gray-4;
    }
}