@import 'utils';

.header {
    z-index: 671;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $oc-gray-2;
    .header-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .wrapper {
            display: flex;
            flex-direction: row;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 4px;
            padding-top: 4px;
            box-sizing: border-box;
            flex: 1 1 auto;
            min-height: 0;
            min-width: 0;
            height: 52px;
            width: 100%;

            @include media ("<=medium") {
                height: 100%;
            }
            .button-group{
                svg {
                    font-size: 1.5rem;
                }
                .thumbnail {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                }
                .username {
                    padding-left: 0.2rem;
                    padding-top: 0.25rem;
                }

                .notice-count {
                    background-color: #fa3e3e;
                    border-radius: 2px;
                    color: #fff;
                    padding: 1px 3px;   
                }

                @include media ("<=545px") {
                    position: relative;
                    display: flex;
                    top: 0.1rem;
                }
            }
        }
    }
}

.mobile-head {
    padding: 1.75rem;
    display: flex;
    align-items: center;
    .button-area {
    }
    .spacer {
      flex: 1;
    }
    .right-area {
      display: flex;
      align-items: center;
    }
  }