@import 'utils';

.header {
    z-index: 671;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $oc-gray-2;
    .header-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .wrapper {
            display: flex;
            flex-direction: row;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 4px;
            padding-top: 4px;
            box-sizing: border-box;
            flex: 1 1 auto;
            min-height: 0;
            min-width: 0;
            height: 52px;
            width: 100%;
        }
    }
}