@import 'utils';

.pin-content {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    .pin-content-wrapper {
        background-color: white;
        width: 100%;
        padding: 0;
        .content-wrapper {
            justify-content: center;
            margin-right: 335px;
            min-height: 100%;
            background-color: #fafafa;
            .image-wrapper {
                left: 0;
                position: relative;
                top: 0;
                display: block;
                background-color: #efefef;
                width: 100%;
                border: 1px solid $oc-gray-5;
                .image {
                    padding-bottom: 100%;
                    display: block;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: 100%;
                        user-select: none;
                        left: 0;
                        top: 0;
                        position: absolute;
                    }
                }
            }
        }

        .right-content-wrapper {
            bottom: 0;
            box-sizing: border-box;
            padding-left: 24px;
            padding-right: 24px;
            position: absolute;
            right: 0;
            width: 335px;
            top: 78px;
            padding: 0 16px;
            margin-right: 2.5rem;
            margin-top: 0.9rem;
            margin-bottom: 1.8rem;
            .icon-group {
                border-top: 1px solid #efefef;
                margin: 0;
                order: 2;
                padding-top: 2px;
                flex-direction: row;
            }
        }
    }
}