.PageTemplate {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(https://s.pinimg.com/webapp/style/images/bg_multi_case_grid_no_text_white_55_percent-2000ab22.jpg);
    background-position: 0px -700px;
    background-size: cover;
    padding-bottom: 300px;
    position: fixed;
    overflow: auto;
}
