@import 'utils';

.group-header {
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex: auto;
    .left-items {
        box-sizing: border-box;
        .btn-group {
            display: inline-flex;
            vertical-align: middle;
            margin-right: 20px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            border-radius: 1000px;
            transition: .1s ease-in-out;
            .create {
                flex: 0 1 auto;
                font-weight: 600;
                margin-left: 0;
                cursor: pointer;
                position: relative;
                background: #2979ff;
                border-color: #2979ff;
                border-radius: 1000px;
                color: white;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
        }
    }

    .mobile-head {
        width: 180px;
        position: relative;
        cursor: pointer;
        padding-left: 1.5rem;
        svg {
            font-size: 1.8rem;
            color: $oc-red-5;
            margin-bottom: 0.85rem;
        }
        span {
            margin-left: 0.5rem;
            width: 600;
            color: $oc-gray-7;
            font-size: 2rem;
        }

        @include media("<=500px") {
            width: 100px;
            padding-left: 0.5rem;
            svg {
                font-size: 1rem;
                color: $oc-red-5;
                margin-bottom: 0.85rem;
            }
            span {
                margin-left: 0.5rem;
                width: 600;
                color: $oc-gray-7;
                font-size: 1.25rem;
            }
        }
    }

    .right-items {
        display: flex !important;
        flex-direction: row !important;
        float: right;
        align-items: center !important;
        .users {
            .thumbnail {
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }
            .username {
                padding-left: 0.2rem;
                padding-top: 0.25rem;
            }
            @include media ("<=545px") {
                position: relative;
                display: flex;
                top: 0.1rem;
            }
        }
    }
}