@import 'utils';


.Landing {
    background-color: rgb(0, 0, 0);
    background-image: url(https://s.pinimg.com/webapp/style/images/bg_multi_case_grid_no_text_white_55_percent-2000ab22.jpg);
    background-position: 0px -700px;
    background-size: cover;
    padding-bottom: 1000px;
    overflow: auto;
    .LandingTemplate {
        padding-bottom: 70px;
        padding-top: 106px;
        min-height: 533px;
        left: 50%;
        position: fixed;
        transform: translateX(-50%);
        .FormBox {
            box-sizing: border-box;
            position: relative;
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
            min-height: 533px;
            padding-top: 10px;
            width: 400px;
        }
    }
}