@import 'utils';

.pin-comments {
    margin-bottom: 2rem;
    width: 768px;
    padding: 2rem;
    min-height: 5rem;
    transform: translateY(-1.5rem);
    margin: 0 auto;
    background: white;
    text-align: left;
    .comment-list {
        margin-top: 2rem;
        border: 1px solid $oc-gray-2;
    }
}