@import 'utils';

.group-sidebar {
    width: 310px;
    margin-left: 65px;
    padding: 27px 0;
    margin-right: 64px;
    box-sizing: border-box;
}

.wiget-card-stat {
    background: white;
    border: 1px solid $oc-gray-4;
    margin-bottom: 27px;
    padding: 27px 16px;
    h3 {
        font-size: 1rem;
        font-weight: 600;
        color: #2a2a2a;
        margin-bottom: 16px;
        font-family: inherit;
        line-height: 1.2;
        margin-top: 0;
    }
    .stat-wrapper {
        display: flex !important;
        flex-direction: row !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-wrap: wrap !important;
        .stat-box {
            width: 50%;
            box-sizing: border-box;
            p {
                font-size: .8125rem;
                text-transform: uppercase;
                color: #8fa4af;
                margin: 0;
                font-weight: 500;
            }
            h4 {
                font-family: inherit;
                font-weight: 500;
                line-height: 1.2;
                font-size: 28px;
                margin: 0;
                color: #333;
            }
        }
    }
}

.wiget-card-people {
    background: white;
    border: 1px solid $oc-gray-4;
    margin-bottom: 20px;
    padding: 27px 16px;
    box-sizing: border-box;
    h3 {
        font-size: 1rem;
        font-weight: 600;
        color: #2a2a2a;
        margin-bottom: 16px;
        font-family: inherit;
        line-height: 1.2;
        margin-top: 0;
    }
    .people-wrapper {
        margin-bottom: 0;
        .people-box {
            margin-bottom: 4px;  
            display: flex !important;
            flex-direction: row !important;
            -webkit-box-orient: horizontal !important;
            -webkit-box-direction: normal !important;
            flex-wrap: wrap !important;
            .people {
                display: block;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                overflow: hidden;
                margin: 4px;
                text-decoration: none;
                background-color: transparent;
                img {
                    display: block;
                    width: 100%;
                    border-radius: 100%;
                    vertical-align: middle;
                    border-style: none;
                }
            }          
        }
    }
}