@import 'utils';

.button-wrapper {
    margin-left: -8px;
    display: inline-block;
    &.saves {
        margin-left: auto;
        margin-right: -10px;
    }
    &.comment {
        margin-bottom: 0.5rem;
    }
    .icon-button {
        align-items: center;
        background: 0 0;
        border: 0;
        cursor: pointer;
        display: flex;
        flex-grow: 0;
        justify-content: center;
        min-width: 40px;
        min-width: 40px;
        padding: 0;
        outline: 0;
        .wrapper {
            font-size: 1.5rem;
            background-repeat: no-repeat;
            background-position: -72px -138px;
            &.saves {
            }
            &.comment {
            }
            &.like {

            }
        }
    }
}