@import 'utils';

.upload-mask {
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid $oc-gray-4;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 380px;
    position: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    svg {
        font-size: 2rem;
     }
    h3 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 300;
    }
}