@import 'utils';

.follow-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 8.75rem) / 5);
    padding: 24px;
    background: white;
    margin: 0 10px 14px;
    min-height: 100px;
    border: 1px solid $oc-gray-2;

    @include media("<=x-huge") {
        // 1920px
        width: calc(25% - 1.75rem);
    }
    @include media("<=huge") {
        width: calc(33.333% - 1.75rem);
        // 1600px;
    }
    @include media("<=wide") {
        // 1200px;
        width: calc(50% - 1.75rem);
    }
    @include media("<=large") {
        // 1024px
        width: calc(100% - 1.75rem);
    }
    .content {
        display: block;
        box-sizing: border-box;
        .head {
            margin-bottom: 12px;
            align-items: center;
            flex-direction: row;
            display: flex;
            box-sizing: border-box;
            .thumbnail-wrapper {
                width: 40px;
                height: 40px;
                display: block;
                border-radius: 100%;
                margin-right: 12px;
                overflow: hidden;
                font-size: 15px;
                font-weight: 600;
                color: #313235;
                cursor: pointer;
                .thumbnail {
                    width: 100%;
                    display: block;
                    border-radius: 100%;
                    vertical-align: middle;
                    border-style: none;
                }
            }

            .name-wrapper {
                min-width: 70px;
                flex: 1 1 70px;
                flex-direction: column;
                justify-content: center;
                .displayName {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    font-weight: 500;
                    color: black;
                    font-size: 14px;
                    line-height: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 5px;
                    margin-left: -5px;
                }
                .username {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;
                    color: #999;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .button {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 2rem;
    }
}