@import 'utils';

.group-pin-setting-modal {
    width: 804px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: white;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    max-height: calc(100vh - 32px);
    outline: none;
    .wrapper {
        width: 100%;
        flex: 1 1 auto;
        min-height: 0;
        min-width: 0;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        .form-header {
            box-sizing: border-box;
            max-width: 100%;
            display: block;
            hr {
                display: block;
                border-top: 1px solid #efefef;
                margin: 0;
                border-bottom: 0;
                border-left: 0;
                color: #eee;
                width: 100%;
            }
            .header-wrapper  {
                padding-left: 50px;
                padding-right: 50px;
                justify-content: center;
                box-sizing: border-box;
                padding-bottom: 20px;
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                h1 {
                    color: $oc-gray-8;
                    line-height: 1.2;
                    letter-spacing: -.4px;
                    word-wrap: break-word;
                    font-size: 24px;
                    margin-bottom: 0;
                    margin-top: 0;
                    margin: 0;
                    display: block;
                    margin-block-start: 0.67em;
                    margin-block-end: 0.67em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: bold;
                }
            }

            .cancel-btn-wrapper {
                box-sizing: border-box;
                right: 0;
                top: 0;
                position: absolute;
                padding-left: 8px;
                padding-right: 8px;
                padding-bottom: 8px;
                padding-top: 8px;
                display: block;
                .cancel-btn {
                    display: block;
                    cursor: pointer;
                    border: 0;
                    padding: 0;
                    background: transparent;
                    line-height: normal;
                    .cancel {
                        height: 40px;
                        width: 40px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        background-color: transparent;
                        border-radius: 50%;
                        &:hover {
                            background-color: $oc-gray-2;
                        }
                        svg {
                            height: 30px;
                            width: 30px;
                            color: #8e8e8e;
                            display: block;
                            fill: currentColor;
                            stroke-width: 0;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .form-content {
            flex: 1 1 auto;
            min-height: 0;
            min-width: 0;
            box-sizing: border-box;
            position: relative;
            overflow: auto;
            display: block;
            .content-wrapper {
                height: 660px;
                width: 100%;
                justify-content: center;
                box-sizing: border-box;
                position: relative;
                display: flex;
                flex-direction: row;
                .wrapper {
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    position: relative;
                    overflow: hidden;
                    background-color: white;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: row;
                    .pin-data {
                        width: 50%;
                        border-right: 1px solid rgb(245, 245, 245);
                        justify-content: space-between;
                        box-sizing: border-box;
                        flex-direction: column;
                        display: flex;
                        .pin-wrapper {
                            flex: 1 1 auto;
                            min-height: 0;
                            min-width: 0;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: row;
                            .pin {
                                justify-content: center;
                                align-items: center;
                                box-sizing: border-box;
                                position: relative;
                                display: flex;
                                flex-direction: row;
                                .pin1 {
                                    align-items: center;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    display: flex;
                                    width: 216px;
                                    .wrapper {
                                        max-height: 335px;
                                        box-sizing: border-box;
                                        overflow: hidden;
                                        border-radius: 8px;
                                        display: block;
                                        background-color: transparent;
                                        padding-bottom: 100%;
                                        position: relative;
                                        img {
                                            color: transparent;
                                            width: 100%;
                                            position: absolute;
                                            display: block;
                                            height: auto;
                                            vertical-align: middle;
                                            border: 0;
                                            max-width: 100%;
                                        }

                                        svg {
                                            width: 100%;
                                            color: $oc-gray-2;
                                            position: absolute;
                                            display: block;
                                            height: auto;
                                            max-width: 100%;
                                        }
                                    }

                                    span {
                                        color: $oc-gray-8;
                                        font-size: 1.5rem;
                                        font-weight: 500;
                                    }

                                    ul {
                                        margin-top: 1.5rem;
                                        li {
                                            margin-bottom: 0.75rem;
                                            display: inline-flex;
                                            background: $oc-gray-0;
                                            border: 1px solid $oc-gray-3;
                                            color: $oc-gray-7;
                                            padding: 0.5rem;
                                            font-size: 0.75rem;
                                            font-weight: 500;
                                            line-height: 0.75rem;
                                            border-radius: 4px;
                                            &+li {
                                                margin-left: 0.75rem;
                                            }
                                            &:hover {
                                                cursor: pointer;
                                                background: $oc-gray-1;
                                            }
                                        }
                                          
                                    }
                                }
                            }
                        }
                    }

                    .group-list {
                        width: 50%;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        .group-wrapper {
                            width: 100%;
                            box-sizing: border-box;
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            .wrapper {
                                width: 100%;
                                box-sizing: border-box;
                                margin-top: 16px;
                                flex-direction: column;
                                display: flex;
                                min-height: 0px;
                                height: 100%;
                                z-index: 0;
                                flex: 1 1 auto;
                                min-width: 0;
                                overflow: auto;
                                .groups {
                                    height: 100%;
                                    flex: 1 1 auto;
                                    min-height: 0;
                                    min-width: 0;
                                    overflow: auto;
                                    box-sizing: border-box;
                                    display: block;
                                    .title-wrapper {
                                        box-sizing: border-box;
                                        padding-left: 24px;
                                        padding-right: 24px;
                                        padding-bottom: 6px;
                                        padding-top: 6px;
                                        text-align: left;
                                        color: $oc-gray-8;
                                        font-size: 14px;
                                        word-wrap: break-word;
                                        font-weight: 400;
                                        line-height: 1.2;
                                        letter-spacing: -.4px;
                                        display: block;

                                        @include media("<=576px") {
                                            padding-left: 12px;
                                            padding-right: 12px;
                                            padding-bottom: 4px;
                                            padding-top: 4px;
                                        }
                                    }

                                    .item-wrapper {
                                        display: block;
                                        border-radius: 8px;
                                        cursor: pointer;
                                        align-items: center;
                                        box-sizing: border-box;
                                        background-color: white;
                                        padding-left: 24px;
                                        padding-right: 24px;
                                        padding-bottom: 8px;
                                        padding-top: 8px;
                                        display: flex;
                                        flex-direction: row;

                                        &:hover {
                                            background-color: $oc-gray-2;
                                        }
                                        .text {
                                            flex: 1 1 auto;
                                            min-height: 0;
                                            min-width: 0;
                                            justify-content: space-between;
                                            align-items: center;
                                            box-sizing: border-box;
                                            display: flex;
                                            flex-direction: row;
                                            span {
                                                color: $oc-gray-8;
                                                text-align: left;
                                                font-size: 16px;
                                                max-width: 100%;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                font-weight: 700;
                                                word-wrap: break-word;
                                                line-height: 1.2;
                                                letter-spacing: -.4px;
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}