@import 'utils';

.cancel-wrapper {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    right: 1.5rem;
    top: 4rem;
    position: absolute;
    display: block;
    .cancel-btn {
        cursor: pointer;
        display: block;
        border: 0;
        padding: 0;
        background: transparent;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        box-sizing: border-box;
        text-align: center;
        align-items: flex-start;
        svg {
            color: white;
            font-size: 2rem;
        }
    }
}