@import 'utils';

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.6);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    .gallery-content {
        width: 800px;
        min-height: 451px;
        background-color: rgb(36,48,64);
        border-radius: 7px;
        display: inline-block;
        min-width: 592px;
        position: relative;
        vertical-align: middle;
        .cancel-button {
            cursor: pointer;
            position: fixed;
            right: 3rem;
            top: 5rem;
            height: 20px;
            line-height: 0;
            padding: 0;
            width: 20px;
            background: transparent;
            border: 0;
            svg {
                font-size: 2rem;
                color: white;
            }
        }
    }
}