@import 'utils';

.pin-feed {
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 60px;
    max-width: 600px;
    .pin-header {
        padding: 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        .thumbnail {
            width: 30px;
            border-radius: 50%;
            margin-right: 15px;
        }
        .info {
            display: flex;
            flex-direction: column;
            .displayName {
                font-weight: 600;
                margin-bottom: 5px;
            }
            .username {
                font-size: 12px; 
            }
        }
    }

    .pin-image {
        left: 0;
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        background-color:white;
        .wrapper {
            // padding-bottom: 100%;
            display: block;
            overflow: hidden;
            .image {
                height: 100%;
                width: 100%;
                user-select: none;
            }
        }
    }

    .pin-meta {
        padding: 15px;
        padding-bottom: 0;
        padding-top: 10px;
    }
}