@import 'utils';

.subinfo {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #8aa6c1;
    .info {
        font-size: 0.875rem;
        color: #8aa6c1;
        span+span::before {
          color: $oc-gray-5;
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          content: "\00B7";
        }
    }
    .subinfo-wrapper {
        margin-top: 1rem;
        flex-direction: row;
        float: right;
        .date {
            color: $oc-gray-5;
            font-weight: 500;
            font-family: Georgia,sans-serif;
        }
    }
}