@import 'utils';

.fake-pin {
    margin-top: 4rem;
    display: block;
    margin-bottom: 15px;
    margin-left: 58px;
    .head {
        display: flex;
        height: 48px;
        align-items: center;
        background-color: $oc-gray-4;
        opacity: 0.3;
    }

    .line {
        margin-top: 1rem;
        border-bottom: 1px solid $oc-gray-4;
    }

    .content {
        padding-left: 4rem;
        padding-right: 4rem;
        .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            max-height: 560px;
            max-width: 560px;
            display: inline-block;
            overflow: hidden;
            position: relative;
            vertical-align: top;
            width: 100%;
            background-color: $oc-gray-4;
            padding-top: calc(0.5 * 100% - 0.5px);
        }
    }
}