@import 'utils';

.pin-info {
    margin-bottom: 12px;
    .description {
        font-weight: bold;
        letter-spacing: 0.1rem;
    }

    .date {
        color: $oc-gray-5;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 500;
        font-family: Georgia,sans-serif;
        display: block;
    }
}