@import 'utils';

.logo-wrapper {
    display: block;
    box-sizing: border-box;
    position: relative;
    @include media(">=816px") {
        .logo {
            display: flex;
            height: 48px;
            width: 48px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 50%;
            &:hover {
                background-color: $oc-gray-2;
            }
        }
    }
    @include media("<=815px") {
        font-family: Inconsolata;
        color: #212529;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        font-size: 2rem;
        font-weight: 500;
    }

    @include media("<=small") {
        left: 60%;
    }
}