@import 'utils';

.write-group-pane {
    width: 840px;
    margin: 0 auto;
    padding-top: 58px;

    @include media("<=medium") {
        width: 100%;
    }
    .input-wrapper {
        margin-top: 2rem;
        position: relative;
        .title {
            margin-bottom: 11px;
            font-weight: 600;
            font-size: 14px;
            color: $oc-gray-8;
            margin: 0;
        }
        .title-input {
            display: block;
            margin-top: 1rem;
            height: 54px;
            padding: 0;
            background: 0 0;
            position: relative;
            width: 100%;
            input {
                line-height: 54px;
                font-size: 30px;
                font-weight: 400;
                color: #333;
                position: relative;
                width: 100%;
                height: 100%;
                border: none;
                padding: 0;
                background: 0 0;
                border-radius: 0;
                outline: 0;
                overflow: visible;
                border-bottom: 1px solid #ccc;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid #333;
                }
            }
        }
    }
 
    .write-thumbnail {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 225px;
        margin-top: 30px;
        box-sizing: border-box;
        .preview-thumbnail {
            position: absolute;
            left: 0;
            top: 0;
            width: 300px;
            height: 225px;
            position: relative;
            .preview {
                border-radius: 2px;
                border-style: none;
                width: 300px;
                height: 225px;
                background-color: #ccc;
                color: white;
                ::after {
                    z-index: 10;
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border: 1px solid rgba(0,0,0,.05);
                    content: '';
                }
            }

        }

        .upload-thumbnail {
            padding-left: 30px;
            .title {
                margin-bottom: 12px;
                height: 23px;
                font-size: 13px;
                font-weight: 400;
                color: #444;
                line-height: 23px;
                margin: 0;
            }

            .upload-mask {
                margin-top: 8px;
                cursor: pointer;
                border: 1px solid $oc-gray-4;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.5);
                height: 190px;
                width: 500px;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                svg {
                    font-size: 2rem;
                 }
                h3 {
                    margin: 0;
                    font-size: 1.25rem;
                    font-weight: 300;
                }
            }
        }
    }

    .write-type {
        position: relative;
        margin-top: 2rem;
        .type {
            margin-bottom: 11px;
            font-weight: 600;
            font-size: 14px;
            color: $oc-gray-8;
            margin: 0;
        }

        .group-type {
            margin-top: 2rem;
            position: relative;
            .type-list {
                padding: 30px 0;
                background: white;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.09), 0 0 1px 0 rgba(0,0,0,.02);
                list-style: none;
                margin: 0;
                li {
                    padding-left: 38px;
                    float: left;
                    padding-right: 21px;
                    width: 50%;
                    position: relative;
                    top: -0.5rem;
                    .secret {
                        word-break: break-word;
                        word-wrap: break-word;
                        white-space: normal;
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        input {
                            z-index: 10;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            box-sizing: border-box;
                            padding: 0;
                            color: #333;
                            border-radius: 0;
                            outline: 0;
                            margin: 0;
                        }
                        .check-label {
                            margin-bottom: 11px;
                            font-weight: 600;
                            font-size: 14px;
                            color: $oc-gray-8;
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }
    }
    .write-footer {
        margin: 40px 0 58px;
        text-align: center;
        .btn + .btn {
            margin-left: 0.75rem;
        }
    }
}