@import 'utils';

.write-setting-group-item {
  display: flex;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
  cursor: pointer;
  &:hover {
    background: $oc-gray-0;
  }

  align-items: center;
  .text {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1;
  }
  .buttons {
    display: flex;
    padding-right: 0.25rem;
    color: $oc-gray-5;
    opacity: 0.8;
    cursor: pointer;
    .button {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      font-size: 1.25rem;
      &:hover {
        &.edit {
          color: $oc-red-9;
        }
      }
    }
  }
}